body {
    margin: 0px;
    background-color: blueviolet;
}

header{
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url("imagens/developer.png");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    width: 200px;
    margin-right: 400px;
    border-radius: 70px;
    border-style: solid;
    background-size: cover;
    text-align: center;
    align-content: center;
}

h1 {
    color: rgb(red, green, blue);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    position: relative;
    top: 40px;
    margin: auto;
}

#menu {
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -50px;
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    background-color: aqua;
}

#menu ul {
    list-style: none;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

#menu ul li{
    display: inline;
    margin: 5px;
}

#menu ul li {
    color: white;
    text-decoration: none;
}

main {
    text-align: center;
}

.contato {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer {
    text-align: center;
    padding: auto;
    margin-top: 150px;
    font-size: 15px;
    color: black;
    position: relative;
    font-weight: normal;
}